<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">Qaz12345</property>
  <property name="hibernate.connection.url">jdbc:mysql://103.242.109.49:3306/icloud?characterEncoding=UTF-8&amp;</property>
  <property name="hibernate.connection.username">wordpress</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="show_sql">false</property>
  <property name="c3p0.min_size">5</property>
  <property name="c3p0.max_size">30</property>
  <property name="c3p0.timeout">3800</property>
  <property name="c3p0.max_statements">50</property>
  <property name="hbm2ddl.auto">update</property>
  <property name="jdbc.batch_size">110</property>
  <property name="connection.autocommit">true</property>
  <mapping resource="com/icloud/stock/model/Stock.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
