/* 
    Document   : b2b_commom.css
    Created on : 2013-5-10, 9:37:29
    Author     : 234
    Description:
        Purpose of the stylesheet follows.
*/
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td,header,footer {
	margin:0;
	padding:0;
	outline-style:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-text-size-adjust:none;
}
*:focus {
	outline:none;
}
img {
	border:0 none;
	vertical-align:top;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
ul,li {
	list-style-type:none;
}
h1,h2,h3,h4,h5,h6 {
	color:#666;
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}
h3 {font-size:1.3em;}
h4 {font-size:1.2em;}
h5 {font-size:1em;}
h6 {font-size:.875em;}
body,input,select,button,textarea {
	font-size:11px;
}
input {
	cursor:pointer;
}
input[type=text],input[type=password]{
	cursor:text;
}
i,em,cite {
	font-style:normal;
}
body {
	background:#f4f4f4;
	color:#666;
	line-height:18px;
	text-align:center;
	overflow-x:hidden;
}
a {
	outline:none;
	text-decoration:none;
	/*for FF*/
}
a {
	star:expression(this.onFocus=this.blur());
	/* for Ie*/
}
.fixed:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.fixed {
	display:block;
	min-height:1%;
}
*html .fixed {
	height:1%;
}
.clear {
	diplay:block!important;
	float:none!important;
	clear:both;
	overflow:hidden;
	width:auto!important;
	height:0!important;
	margin:0 auto!important;
	padding:0!important;
	font-size:0;
	line-height:0;
}

.fl,.fr {
	display:inline;
	float:left;
}
.fr {
	float:right;
}

body {font-size:0.8em;}
#container {margin:0 auto;text-align:left;}
.top_header h1 {width:192px;height:74px; background:url(../../images/logo.gif) no-repeat left top;float:left;position:relative;}
.profile {float:right;padding:3px;margin-top:20px;margin-right:20px;}
.button_main_m {
    background: url("../../images/button/btns.png") no-repeat scroll -408px 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    font-size: 12px;
    height: 21px;
    width: 56px;
}

.breadcrum {padding:5px;border-bottom:1px solid #cccccc;}
.redImportant {color:red;}

#recentOperator {
    display: none;
    width: 18px;
    line-height: 1.2;
    padding: 5px 0;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    _position: absolute;
    right: 10px;
    top: 100px;
    _bottom: "auto";
    cursor: pointer;
    opacity: .6;
    filter: Alpha(opacity=60);
}


#slide-in-share {
	position: absolute;
	top: 200px;
	left: 0;
	width: 200px;
	margin-left: -200px;
	border: solid #e9e9e9;
	border-width: 1px 1px 1px 0;
}

#slide-in-handle {
	position: absolute;
	left: 200px;
	width: 31px;
	height: 69px;
	background: #1b7458;
	color: #fff;

}

#slide-in-share ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 69px;
	background: #fff;
	text-align: center;
}

#slide-in-share li {
	
	margin: 0 2px;
}


	
