body{
    font-size:12px;
}
.headBG{
    width: 100%;
    height: 70px;
    background: #e04628;
}
.main-wrapper{
    min-width:980px;
}
.main-body{
    width:980px;
    margin:10px auto;
}
.main-header{
    position:relative;
    width:980px;
    margin:0 auto;
    height: 70px;
    background: #e04628;
}
.main-header .phone{
    position:absolute;
    top: 43px;
    right:133px;
    display:block;
    text-indent:102%;
    width:198px;
    height:40px;
    overflow:hidden;
    white-space:nowrap;
    background:url(../../images/store/c1.png) no-repeat 0 50%;
}
.main-nav{
    height: 70px;
    line-height: 70px;
    position: absolute;
    top: 0;
    left: 155px;
}
.main-nav li{
    float:left;
}
.main-nav .first{
    background:none;
}
.main-nav a{
    /* height:40px; */
    display:block;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    text-align:center;
    position:relative;
    z-index:1;
    padding:0 35px;
}.main-nav a:hover{
     text-decoration:none;
     background-color:#c53418;
     color:#fff;
 }
.main-nav .active a{
    background-color:#c53418;
    position:relative;
    z-index:1;
    color:#fff;
}
.main-footer{
    color:#969696;
    background-color:#363636;
    border-top:1px solid #CACACA;
}
.main-footer center{
    margin-top:20px;
}
.logo{
    top: 15px;
    position:absolute;
    width:110px;
    height:40px;
    display:block;
    background:url(../../images/login/landing_logo.png) no-repeat;
    text-indent: -8000px;
}
.orderNum{
    color:#c23511;
    font-size: 14px;
    text-align: center;
    background: url("../../images/store/orderNum.gif") no-repeat;
    width: 28px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    line-height: 1.3;
    margin-left: 3px;
}
.internalSearchingBG{
    background:url("../../images/store/internalSearchingBG.jpg") center no-repeat #013476;
    width:100%;
    height: 470px;
}
.icon-message{
    position:absolute;
    width:12px;
    height:10px;
    background:url(../../images/store/smallPic.png) no-repeat -47px -38px;
    left:12px;
    top:10px;
}
.bottomQuickNav{
    position: relative;
    padding-left: 50px;
    padding-top: 5px;
    float:left;
    margin-right: 75px;
}
.bottomQuickNav.last{
    margin-right: 0;
}
.bottomQuickNav i.ico{
    background:url("../../images/store/bottomIcons.png") no-repeat;
    position: absolute;
    width:50px;
    left: 0;
    top: 0;
}
.xssl i.ico{
    background-position: 0 0;
    height: 35px;
}
.zffs i.ico{
    background-position: 0 -98px;
    height: 23px;
}
.sjfw i.ico{
    background-position: 0 -125px;
    height: 35px;
}
.gywm i.ico{
    background-position: 0 -35px;
    height: 35px;
}
.kfrx i.ico{
    background-position: 0 -70px;
    height: 30px;
}
.bottomQuickNav h3,.bottomQuickNav h4{
    font-size: 16px;
    color: #c2c2c2;
    font-weight: bold;
}
.bottomQuickNav h4{
    font-weight: normal;
}
.bottomQuickNav h2{
    font-size: 21px;
    font-family: "Arial", "Helvetic", "sans-serif";
}
.bottomQuickNav li{
    font-size: 12px;
    color: #777777;
    margin-top: 10px;
}
.footerContainer{
    width:980px;
    margin:0 auto;
    padding:20px 0;
}
.clearfix{
    clear:both;
}
.copyright{
    padding: 80px 0 30px;
}
.customerCenterContainer{
    position: fixed;
    top:100px;
    right: 0;
}
.customerCenterContainer.off .customerCenterItemsContainer{
    visibility: hidden;
}
.customerCenterButton div {
    background: url("../../images/store/customerCenterIcon.png") center 20px no-repeat ;
    height: 90px;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.customerCenterButton{
    width: 90px;
    height: 90px;
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
}
.k-ie8 .customerCenterButton,.k-ie7 .customerCenterButton{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.customerCenterItemsContainer{
    position: relative;
    margin-top: 98px;
}
.customerCenterItemsContainer i{
    background: url("../../images/store/customerCenterUpArrow.png") no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
}
.k-ie8 .customerCenterItemsContainer li,.k-ie7 .customerCenterItemsContainer li{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.customerCenterItemsContainer li{

    background-color: rgba(0,0,0,0.8);
}
.customerCenterItemsContainer li div{
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #2a2a2a;
    color:#ffffff;
    padding:0 20px 0 70px;
    background: url("../../images/store/customerCenterItemIcon.png") no-repeat;
    cursor: pointer;
}.customerCenterItemsContainer li:hover{
    background-color: #101010;
 }
.customerCenterItemsContainer .cc_orderManagerment div {
    background-position: 0 50%;
    border-top: 0;
}
.customerCenterItemsContainer .cc_e-wallet div {
    background-position: -400px 50%;
}
.customerCenterItemsContainer .cc_statisticalReport div {
    background-position: -800px 50%;
}
.customerCenterItemsContainer .cc_customerService div {
    background-position: -1200px 50%;
}
.customerCenterItemsContainer .cc_notice div {
    background-position: -1600px 50%;
}
.customerCenterItemsContainer .cc_message div {
    background-position: -2000px 50%;
}
.customerCenterItemsContainer .cc_onlineService div {
    background-position: -2400px 50%;
    border-top: 1px dashed #2a2a2a;
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #727272;
}
.customerCenterItemsContainer .cc_orderManagerment:hover div {
    background-position: -200px 50%;
}
.customerCenterItemsContainer .cc_e-wallet:hover div {
    background-position: -600px 50%;
}
.customerCenterItemsContainer .cc_statisticalReport:hover div {
    background-position: -1000px 50%;
}
.customerCenterItemsContainer .cc_customerService:hover div {
    background-position: -1400px 50%;
}
.customerCenterItemsContainer .cc_notice:hover div {
    background-position: -1800px 50%;
}
.customerCenterItemsContainer .cc_message:hover div {
    background-position: -2200px 50%;
}
.customerCenterItemsContainer .cc_onlineService:hover div {
    background-position: -2600px 50%;
}
.partnerContainer{
    color:#5F5F5F;
    font-size: 15px;
    width:980px;
    margin:20px auto;
}
.partnerContainer .partnerIcon {
    background-image: url("../../images/store/partnerIcon.png");
    height: 34px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
i.travelsky{
    background-position: -10px -186px;
    width: 53px;
}
i.elong{
    background-position: -10px -142px;
    width: 82px;
}
i.qunar{
    background-position: -10px -98px;
    width: 82px;
}
i.ctrip{
    background-position: -10px -54px;
    width: 82px;
}
i.gta{
    background-position: -10px -10px;
    width: 82px;
}
.annPrompt{
    width: 100%;
    height: 22px;
    padding-left: 28px;
    background: url("../../images/store/smallPicture.png") no-repeat 0 -75px;
    margin: 10px 0 8px 100px;
    overflow: hidden;
    position: relative;
}
.annPrompt a{
    color: #ffffff;
    line-height: 22px;
    position: relative;
    display: block;
}