<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context				http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/mvc					http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
           http://www.springframework.org/schema/task					http://www.springframework.org/schema/task/spring-task-3.1.xsd"
	default-autowire="byName">

	<!--  <context:component-scan base-package="com.yunrang.wj.portal.scheduler"/>

   <task:scheduler id="wjScheduler" pool-size="2" />

	<task:scheduled-tasks scheduler="wjScheduler">
		<task:scheduled ref="imageScheduler" method="execute" fixed-delay="6000" fixed-rate="10000" />
		<task:scheduled ref="xmlConfigScheduler" method="execute" fixed-delay="600000" fixed-rate="600000" />
		<task:scheduled ref="globalSettingsHolder" method="execute" fixed-delay="8000" fixed-rate="10000" />
		<task:scheduled ref="tagCloudConfigScheduler" method="execute" fixed-delay="60000" />
		<task:scheduled ref="defaulCoverScheduler" method="execute" fixed-delay="60000" />
		<task:scheduled ref="viewResnameScheduler" method="execute" cron="0 0 3 * * ?" />
		<task:scheduled ref="viewDataSourceScheduler" method="execute" cron="0 0 4 * * ?" />
		<task:scheduled ref="globalSearchCountScheduler" method="execute" cron="0 0 0 * * ?" />
	</task:scheduled-tasks>-->

</beans>