@charset "utf-8";
/* CSS Document */

.block0 .col{
    height:60px;
    float:left;
    width:50%;
}
.block0 .col-l{
    background:#FFFAF6 url(../images/order_r4_c10.png) 100% 0 no-repeat;
}
.block0 .row{
    font-size:12px;
    padding:10px 15px 0 15px;
    height:20px;
    border-left:9px solid #FF6608;
}
.block0 .row2 {
    height:100%;
    border-left:9px solid #FF6608;
    padding:0px;
}
.block0 .text1{
    font-size:14px;
    color:#333;
}
.block0 .text1 strong{
    font-size:16px;
    color:#FF4100;
}
.block0 .text2{
    color:#878787;
}
.block1 .text3{
    color:#06c;
}
a:hover{
    /*text-decoration:underline;*/
}
.block0 .col-l em{
    text-overflow: ellipsis;
    vertical-align: top;
    display: inline-block;
    color:#F15600;
    max-width: 124px;
    white-space:nowrap;
    overflow:hidden;
}
.block0 .col-r li{
    height:60px;
}
.block0 .count{
    padding:0 10px;
    line-height:60px;
    float:right;
    background-color:#CFF3FC;
    border-right:9px solid #50A2D7;
}
.block0 .count span{
    display:inline-block;
    width:30px;
    line-height:18px;
    vertical-align:middle;
    margin:0 5px;
}
.block0 .count strong{
    vertical-align:middle;
    font-size:36px;
}
.instr{
    overflow:hidden;
    margin:10px 0 0 20px
}
.instr span{
    position:relative;
    z-index:1;
    padding-top:25px;
    display:block;
    float:left;
    background:url(../images/order_r6_c14.png) 50% 4px no-repeat;
    margin-right:10px;
}
.instr .first{
    margin-left:0;
}
.instr .last{
    margin-right:0;
}
.instr span.highlight-fl{
    background: url(../images/hotel_order_status_dot_ing.gif) no-repeat 40% 13%;
    color: #f60;

    /* background-image:url(../images/order_r5_c12.png); */
    /* background-position:50% 0; */
    color:#f60;
}
.instr span.highlight-fe{
    background-image:url(../images/order_r5_c123.png);
    background-position:50% 0;
    color:#f10;
}
.instr span.highlight{
    background-position:50% 4px;
    background-image:url(../images/hotel_order_status_dot_complete.gif);
    color:#00a000;
}
.instr{
    position:relative;
}
.instr .line{
    position:absolute;
    display:block;
    height:2px;
    background-color:#E9E9E9;
    top:8px;
    z-index:0;
    margin-left:-5px;
}
.instr .line div{
    background-color:#00a000;
    height:2px;
}

.block1 input{
    width:130px;
}
.block1 li{
    width:230px;
    margin-top:10px;
}
.block1 label{
    width:80px;
    font-size:12px;
    font-weight:bold;
    color:#333333;
}
.block1 .col-wide{
    width:464px;
}
.block1 .col-wide label{
    vertical-align:top;
}
.block1 .textarea-wide {
    width:700px;
}
.block1 .textarea-wide label {
    vertical-align:top;
}
.block1 textarea{
    width:363px;
    height:45px;
    font-family:arial;
    font-size:12px;
    border:1px solid #d3d3d3;
}
.block-title{
	margin:10px 0 13px 0;
    font-size: 14px;
    font-weight: bold;
}
.block-title-orange{ 
    border-bottom:3px solid #FFA86E;
}
.block-title-blue{ 
    border-bottom:3px solid #72D6FF;
}
.block-module .grid-table{
    width:100%;
}
.block-module .grid-table a{
    color:#06c;
}
.block-module .grid-table a:hover{
    text-decoration:underline;
}

.block-module .grid-table td {
    padding: 5px;
	line-height:20px;
}
.block-module .grid-table th {
    padding: 5px;
	line-height:20px;
}
.block-module {
    padding:10px 20px;
    color: #444;
}
.grid-table .thead th{
	border-left:1px solid #fff;
}
.grid-table .thead th:first-child{
	border-left:1px solid #e0e0e0;
}
.grid-table .thead th:last-child{
	border-right:1px solid #e0e0e0;
}
.block-module .txt{
    margin-right:20px;
}

.block-module .grid-table input[type="text"] {
    border:1px solid #ccc;
    width:100%;
    line-height:20px \9;
    height:20px;
}
.block-module .grid-table span .k-input{
   border:0; 
}

.block-module .row{
    margin-bottom:10px;
}
.block2 .row strong {
    font-weight:normal;
    color:#ff6600;
}
.block3 .row2 span{
    color:#0065CB;
}

.block-module .text2{
    color:#fe5b00;
}
.block-module .text1{
    color:#029f2a;
}
.block3 .row2{
    line-height:1.5em;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #CFCFCF;
}
.block3 .row2 h3{
    color:#333;
    font-size:12px;
    margin-bottom:10px;
}
.block3 .row3 span {
    color:#0065CB;
}

.block-calc{
    background-color:#D9FFFA;
}
.block-calc input{
    padding:0 5px;
    font-size:14px;
    border:0;
    width:117px;
    height:27px;
    line-height:27px \9;
    background:url(../images/order_r11_c8.png) no-repeat;
    border-right:1px solid #cfcfcf;
}
.block-calc .input-b{
    line-height:49px \9;
    padding:0 5px;
    font-size:30px;
    font-weight:bold;
    border:0;
    width:173px;
    height:49px;
    color:#f60;
    background:url(../images/order_r10_c4.png) no-repeat;
}
.block-calc span{
    display:block;
    text-align:center;
    font-weight:bold;
    color:#333;
    margin-bottom:4px;
}
.block-calc .first span{
    font-size:16px;
    width:35px;
    display:inline-block;
    vertical-align:middle;
    margin:0 5px 0 0;
}
.block-calc .flat-list{
    padding:15px;
}
.block-calc li{
    margin-right:10px;
}
.block-calc-readonly input{
    background:none !important;
    border:none;
    text-align:center;
}

.block-title label{
    margin-left:10px;
    font-size:12px;
    font-weight:normal;
}

.titleFont{ font-size:14px; margin-left:20px; color:#666666;}
.btn-return{ font-weight:bold; color:#666666;}
.text1 .changeFont{ font-size:12px; color:#333333;}
.redFont{ color:#ff0000; vertical-align:middle; font-size:14px; margin-right:2px;}
.operation,.whetherThrough{ text-align:center;}
.operation a{ margin:0 15px 0 0; display:inline-block; vertical-align:middle; width:27px; height:27px;}
.operation .right,.operation .wrong,.whetherThrough .passHint,.whetherThrough .noPass{ vertical-align:middle; display:inline-block;}
.operation .right{ background:url(../images/operation.png) no-repeat 0 -58px;}
.operation .right:hover{ background:url(../images/operation.png) no-repeat 0 0;}
.operation .wrong{ background:url(../images/operation.png) no-repeat 0 -89px;}
.operation .wrong:hover{ background:url(../images/operation.png) no-repeat 0 -28px;}
.whetherThrough .passHint{ width:18px; height:13px; background:url(../images/operation.png) no-repeat -30px -5px;}
.whetherThrough .noPass{ width:13px; height:14px; background:url(../images/operation.png) no-repeat -32px -34px;}

.refuseVisa{ margin:10px 5px 20px 20px; color:#333333;}
.remarkTitle{ font-size:12px; font-weight:500; color:#333333;}
.refuseRemark{ margin:10px 0 20px 0;}
.refuseRemark textarea{ width:380px; height:90px; padding:7px; color:#666666;}
.refuseRemark .lineNumber{ vertical-align:bottom;}
.orangeBtn{ text-align:right;}
.orangeBtn button{ font-size:14px; font-weight:bold;}

.material{ width:585px;}
.material ul li{ float:left; padding-bottom:15px; width:190px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-right:5px;}
.material .firstMaterialList{ margin-bottom:15px; border-bottom:1px dashed #bdbdbd;}

























































































































































































































































































































div.main{/*background:#ffffff;*/width:980px;margin:0 auto}
.clearfix{clear:both}
.panelTitle-visa{
    color:#333333;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tbl_visaCommon th{
    text-align: right;
    font-weight: normal;
}
.tbl_visaCommon td{
    padding:5px 0
}
.tbl_visaCommon input[type=text]{
    width:147px;
}
.selectSaleCustomerContainer,.selectSalePriceTypeContainer,.setSalePrice{
    margin-top: 20px;
    border-bottom: 1px dashed #C0C0C0;
    padding-bottom: 20px;
}
.setSalePrice{
    border: 0;
}
.selectSaleCustomerContainer .content,.selectSalePriceTypeContainer .content,.setSalePrice .content{
    padding-left: 20px;
}
.selectSaleCustomerContainer .content .groupList{
	width:93%;
}
.selectSaleCustomerContainer .content .groupList li{
	float:left; width:145px; margin:0 10px 10px 0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
.selectSalePriceTypeContainer .content label{
    margin-right: 10px;
}
input[type=checkbox],input[type=radio]{
    margin-right: 5px;
}
.money{
    color:#FF6500;
    font-size: 12px;
    font-weight: bold;
}

.button_5{padding:3px 10px;background:none;color:#0066cc;border-radius:3px}
.button_5:hover{background:#BEECF8;}

.txt_l9{
    color:#999999
}

.visa_subBlock{
    padding-bottom: 10px;
    border-bottom: 1px dashed #c0c0c0;
}
.visa_subBlock .content{
    padding-left: 20px;
}
.passportStatus{
    font-size: 14px;
    font-weight: bold;
    color: #FF6507;
}
.passport_absence,.passport_refused,.passport_successed{
    width:108px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin:0 10px;
    line-height: 40px;
    font-size: 14px;
}
.passport_successed{
    color:#009907;
    border: 1px solid #4BE87B;
    background: #D1FEE2;
}
.passport_refused{
    color:#FF3C00;
    border: 1px solid #FD946F;
    background: #FFE8DD;

}
.passport_absence{
    color:#929292;
    border: 1px solid #C4C4C4;
    background: #F0F0F0;

}



/*订单管理*/
.visa_div {
	background: #fff;
	padding: 10px 10px 10px 15px;
	margin-bottom: 10px;
	border-left: 1px solid #dfe3e5;
	border-right: 1px solid #dfe3e5;
	border-bottom: 2px solid #ccd0d2;
}
.visa_table {
	position: relative;
}
.visa_table td {
	height: 36px;
}
.visa_table .showy {
	color: #ff0000;
	vertical-align: middle;
	margin-right: 3px;
}
.visa_table td input, .visa_table td select {
	border: 1px solid #d3d3d3;
}
.visa_table td input {
	padding-left: 3px;
	height: 20px;
	line-height: 20px;
}
.visa_table td select {
	height: 22px;
	line-height: 22px;
}
.visa_table td label {
	margin-right: 20px;
}
.visa_table td label input {
	border: 0;
	vertical-align: middle;
	margin-right: 2px;
}
.tgrid .line_left {
	border-left: 1px solid #e0e0e0;
}
.tgrid .line_right {
	border-right: 1px solid #e0e0e0;
}
.tgrid tbody tr:hover {
	background: #ffffdb;
}
.tgrid {
	background: #fff;
	border-collapse: collapse;
}
.tgrid th {
	text-align: left;
	padding-left: 5px;
	height: 25px;
}
.tgrid .thCenter, .tgrid .tdCenter {
	text-align: center;
}
.tgrid tbody a {
	color: #0066cc;
	margin-right: 3px;
}
.tgrid tbody a:hover {
	color: #0066cc;
	text-decoration: underline;
	cursor: pointer;
}
.tgrid tbody td {
	text-align: left;
	height: 25px;
	padding: 3px 3px 3px 5px;
}
.tgrid thead th {
	font-weight: 500;
}
.tgrid tbody a {
	margin-right: 10px;
}
.tgrid .price, .panelTable .price {
	color: #ff6c00;
}
/*新建订单*/
.panelTit {
	font-weight: bold;
	font-size: 14px;
	margin: 10px 0;
}
.panelOrder {
	margin: 0 0 10px 0;
}
.panelOrder th {
	font-weight: normal;
}
.panelOrder th, .panelOrder td {
	padding: 6px 0;
}
.panelOrder td {
	color: #666;
}
.panelTable {
	border-left: 1px solid #d5d5d5;
	width: 100%;
}
.panelTable th, .panelTable td {
	border-top: 1px solid #d5d5d5;
	border-right: 1px solid #d5d5d5;
	text-align: left;
	padding: 7px 0 7px 12px;
}
.touristTable th, .touristTable td, .cancelOrder th, .cancelOrder td {
	padding: 7px 0 7px 5px;
}
.panelTable td {
	border-bottom: 1px solid #d5d5d5;
	color: #666;
}
.panelTable th {
	font-weight: normal;
	background: #f5f5f5;
}
.cancelOrder th {
	text-align: right;
	font-weight: normal;
}
input[type=text] {
	width: 138px;
	height: 20px
}
select {
	width: 150px
}
.visaFlowLeft {
	width: 452px;
	float: left;
	border-right: 1px dashed #FADBD3;
	height: 53px;
	background: #FFFBF5;
	padding: 10px 0 0 20px;
}
.visaFlowRight {
	width: 388px;
	margin-left: 453px;
	height: 63px;
}
.panelLeftborder {
	width: 7px;
	background: #FE7218;
	float: left;
	height: 63px;
}
.panelRightborder {
	width: 7px;
	background: #439CD3;
	float: right;
	height: 63px;
}
.panelRelOrder {
	width: 77px;
	background: #cff3fc;
	float: right;
	height: 63px;
}
.visaFlowfont {
	color: #f25601;
}
.visaFlowfont2 {
	color: #FF4200;
	font-weight: bold;
	font-size: 16px;
}
.visaFlowfont3 {
	color: #888986;
	padding-left: 20px
}
.visaOrderNun {
	font-size: 14px;
	font-weight: bold;
}
.hotelOrderStatusContainer {
	float: left;
	padding: 20px 10px
}
.statusContainer {
	float: left;
	position: relative;
	padding: 15px 10px 5px
}
.statusContainer.first .statusLineLeft {
	display: none
}
.statusContainer.last .statusLineRight {
	display: none
}
.statusDot {
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	z-index: 2;
	top: 0
}
.statusLine {
	z-index: 1
}
.status_ing {
	color: #ff6600
}
.status_ing .statusDot {
	background: url('../images/hotel_order_status_dot_ing.gif') no-repeat
}
.status_ing .statusLineLeft {
	width: 50%;
	position: absolute;
	top: 4px;
	left: 0;
	border-top: 2px solid #00a000
}
.status_ing .statusLineRight {
	width: 50%;
	position: absolute;
	top: 4px;
	right: 0;
	border-top: 2px solid #e9e9e9
}
.status_complete {
	color: #00a000
}
.status_complete .statusDot {
	background: url('../images/hotel_order_status_dot_complete.gif') no-repeat
}
.status_complete .statusLineLeft {
	width: 50%;
	position: absolute;
	top: 4px;
	left: 0;
	border-top: 2px solid #00a000
}
.status_complete .statusLineRight {
	width: 50%;
	position: absolute;
	top: 4px;
	right: 0;
	border-top: 2px solid #00a000
}
.status_uncomplete {
	color: #666666
}
.status_uncomplete .statusDot {
	background: url('../images/hotel_order_status_dot_uncomplete.gif') no-repeat
}
.status_uncomplete .statusLineLeft {
	width: 50%;
	position: absolute;
	top: 4px;
	left: 0;
	border-top: 2px solid #e9e9e9
}
.status_uncomplete .statusLineRight {
	width: 50%;
	position: absolute;
	top: 4px;
	right: 0;
	border-top: 2px solid #e9e9e9
}
/*.priceDetail_otherToolTip{cursor:pointer}*/
.hotelOrderStatusContainer .exception {
	color: #ff0000
}
.hotelOrderStatusContainer .exception .statusDot {
	background: url('../images/hotel_order_status_dot_exception.gif') no-repeat;
}
.complete {
	font-weight: bold;
	color: #00a000
}
.ing {
	font-weight: bold;
	color: #ff6600
}
.fieldName {
	background: #f5f5f5;
	color: #333
}
/*.liuzhangInfoContainer{display: none;margin-top: 10px}*/

.enroll {
	background: #fff;
	border: 1px solid #e0e0e0;
	margin-bottom: 10px;
	padding-bottom: 20px;
}
.write {
	padding: 15px 25px 0;
}
.ballNum {
	padding: 0 0 0 0px;
	margin-bottom: 10px;
}
.ballNum input {
	padding: 0 0 0 3px;
}
.ballNum em {
	color: #ff0000;
}
.tourist {
	border: 1px solid #e0e0e0;
	color: #333333;
	padding: 15px 15px 0px;
}
.tourist_mes {
	padding-bottom: 15px;
}
.tourist_mes b {
	font-size: 14px;
	margin-right: 25px;
}
.tourist_mes a, .del a {
	color: #0066cc;
}
.tourist_mes a:hover, .del a:hover {
	text-decoration: underline;
}
.newly {
	border-bottom: 1px dashed #c1c1c1;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.del {
	margin-bottom: 15px;
}
.del em {
	background: url(../images/tourist.png) no-repeat left center;
	margin-right: 10px;
	padding-left: 20px;
}
.newly_list th, .newly_list td {
	line-height: 30px;
}
.newly_list th {
	font-weight: normal;
	text-align: right;
}
.newly_list td input {
	width: 127px;
	border: 1px solid #d7d7d7;
	padding-left: 3px;
	line-height: 20px;
	height: 20px;
}
.newly_list td select {
	border: 1px solid #d7d7d7;
	line-height: 22px;
	height: 22px;
	margin-right: 3px;
}
.newly_list th em {
	color: #ff0000;
	vertical-align: middle;
	font-weight: bold;
}
.newly.newly_last {
	border-bottom: 0;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.write_message {
	padding: 15px;
	margin: 10px 25px;
}
.write_message h3 {
	font-size: 14px;
	margin-bottom: 10px;
	color: #333;
}
.write_message table em {
	color: #ff0000;
	font-weight: bold;
}
.write_message table td {
	line-height: 30px;
}
.write_message table td input {
	width: 115px;
	line-height: 20px;
	height: 20px;
	padding-left: 3px;
}
.write_message table td select {
	line-height: 22px;
	height: 22px;
}
.submit_btn {
	margin: 20px 0 40px 25px;
}
.block-calc {
	background-color: #D9FFFA;
}
.block-calc input {
	padding: 0 5px;
	font-size: 14px;
	border: 0;
	width: 117px;
	height: 27px;
	line-height: 27px \9;
	background: url(../images/order_r11_c8.png) no-repeat;
	border-right: 1px solid #cfcfcf;
}
.block-calc .input-b {
	line-height: 49px \9;
	padding: 0 5px;
	font-size: 30px;
	font-weight: bold;
	border: 0;
	width: 173px;
	height: 49px;
	color: #f60;
	background: url(../images/order_r10_c4.png) no-repeat;
}
.block-calc span {
	display: block;
	text-align: center;
	font-weight: bold;
	color: #333;
	margin-bottom: 4px;
}
.block-calc .first span {
	font-size: 16px;
	width: 35px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.block-calc .flat-list {
	padding: 15px;
}
.block-calc li {
	margin-right: 10px;
}
.block-calc-readonly input {
	background: none !important;
	border: none;
	text-align: center;
}
.bar {
 *zoom:1;
	border-left: 1px solid #ccc;
	height: 10px;
	display: inline-block;
	vertical-align: middle;
}
i.star {
	vertical-align: middle;
	color: red;
}
.block5 {
	height: 100%;
	overflow: hidden;
	padding-bottom: 10px
}
.tgrid tbody .highlight-orange {
	color: #F25601;
}
.gray-row td{
    color:#bbb;
}

.operation .wrong,.operation .right{
    width:26px;
    height:20px;
}
.operation .isPassed .right{ background:url(../images/operation.png) no-repeat 0 0;}
.operation .isNotPassed .wrong{ background:url(../images/operation.png) no-repeat 0 -28px;}
