<#macro base>
<!Doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Java Web Framework</title>
		<link href="${rc.contextPath}/common/css/main.css" rel="stylesheet" />
		<link href="${rc.contextPath}/common/css/jquery-ui/jquery-ui-1.10.2.min.css" rel="stylesheet" />
		<script src="${rc.contextPath}/common/js/jquery-1.9.1.min.js"></script>
		<script src="${rc.contextPath}/common/js/jquery-ui-1.10.2.min.js"></script>
		<script src="${rc.contextPath}/common/js/jquery-validation/jquery.validate.min.js"></script>
	</head>
	<body>
		<#nested>
	</body>
</html>
</#macro>