/* 新首页框架
 * zhizhu.zhang
 * */
body{
    font-size:12px;
    font-family: 'microsoft yahei';
}
.headBG{
    width: 100%;
    height: 70px;
    background: #e04628;
}
.main-wrapper{
    min-width:980px;
}
.main-body{
}
.main-header{
    position:relative;
    width:980px;
    margin:0 auto;
    height: 70px;
    background: #e04628;
}
.main-header .phone{
    position:absolute;
    top: 43px;
    right:133px;
    display:block;
    text-indent:102%;
    width:198px;
    height:40px;
    overflow:hidden;
    white-space:nowrap;
    background:url(../../images/store/c1.png) no-repeat 0 50%;
}
.main-nav{
    height: 70px;
    line-height: 70px;
    position: absolute;
    top: 0;
    left: 155px;
}
.main-nav li{
    float:left;
}
.main-nav .first{
    background:none;
}
.main-nav a{
    /* height:40px; */
    display:block;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    text-align:center;
    position:relative;
    z-index:1;
    padding:0 35px;
}.main-nav a:hover{
     text-decoration:none;
     background-color:#c53418;
     color:#fff;
 }
.main-nav .active a{
    background-color:#c53418;
    position:relative;
    z-index:1;
    color:#fff;
}
.main-footer{
    color:#969696;
    background-color:#2d354b;
    border-top:1px solid #CACACA;
}
.main-footer center{
    margin-top:20px;
}
.logo{
    top: 15px;
    position:absolute;
    width:110px;
    height:40px;
    display:block;
    background:url(../../images/login/landing_logo.png) no-repeat;
    text-indent: -8000px;
}
.orderNum{
    color:#c23511;
    font-size: 14px;
    text-align: center;
    background: url("../../images/store/orderNum.gif") no-repeat;
    width: 28px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    line-height: 1.3;
    margin-left: 3px;
}
.internalSearchingBG{
    background:url("../../images/store/internalSearchingBG.jpg") center no-repeat #013476;
    width:100%;
    height: 470px;
}
.icon-message{
    position:absolute;
    width:12px;
    height:10px;
    background:url(../../images/store/smallPic.png) no-repeat -47px -38px;
    left:12px;
    top:10px;
}
.bottomQuickNav{
    position: relative;
    padding-left: 50px;
    padding-top: 5px;
    float:left;
    margin-right: 75px;
}
.bottomQuickNav.last{
    margin-right: 0;
}
.bottomQuickNav i.ico{
    background:url("../../images/store/bottomIcons.png") no-repeat;
    position: absolute;
    width:50px;
    left: 0;
    top: 0;
}
.xssl i.ico{
    background-position: 0 0;
    height: 35px;
}
.zffs i.ico{
    background-position: 0 -98px;
    height: 23px;
}
.sjfw i.ico{
    background-position: 0 -125px;
    height: 35px;
}
.gywm i.ico{
    background-position: 0 -35px;
    height: 35px;
}
.kfrx i.ico{
    background-position: 0 -70px;
    height: 30px;
}
.bottomQuickNav h3,.bottomQuickNav h4{
    font-size: 16px;
    color: #c2c2c2;
    font-weight: bold;
}
.bottomQuickNav h4{
    font-weight: normal;
}
.bottomQuickNav h2{
    font-size: 21px;
    font-family: "Arial", "Helvetic", "sans-serif";
    color: #c2c2c2;
}
.bottomQuickNav li{
    font-size: 12px;
    color: #6a7389;
    margin-top: 10px;
}
.bottomQuickNav li a{
    color: #6a7389
}
.footerContainer{
    width:980px;
    margin:0 auto;
    padding:20px 0;
}
.clearfix{
    clear:both;
}
.copyright{
    padding: 80px 0 30px;
}
.customerCenterContainer{
    z-index: 2;
    position: fixed;
    top:100px;
    right: 0;
}
.customerCenterItemsContainer{
    width: 138px;
}
.customerCenterContainer.off .customerCenterItemsPanel{
    display: none;
}
.customerCenterButton div {
    background: url("../../images/store/customerCenterIcon.png") center 20px no-repeat ;
    height: 90px;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}
.customerCenterButton{
    width: 90px;
    height: 90px;
    float: right;
    background-color: rgba(0, 0, 0, 0.8);
}
.k-ie8 .customerCenterButton,.k-ie7 .customerCenterButton{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.customerCenterItemsContainer{
    position: relative;
    margin-top: 98px;
}
.customerCenterItemsContainer i{
    background: url("../../images/store/customerCenterUpArrow.png") no-repeat;
    width: 11px;
    height: 6px;
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -5px;
}
.k-ie8 .customerCenterItemsContainer li,.k-ie7 .customerCenterItemsContainer li{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
}
.customerCenterItemsContainer li{

    background-color: rgba(0,0,0,0.8);
}
.customerCenterItemsContainer li div{
    height: 45px;
    line-height: 45px;
    border-top: 1px solid #2a2a2a;
    color:#ffffff;
    padding:0 20px 0 70px;
    background: url("../../images/store/customerCenterItemIcon.png") no-repeat;
    cursor: pointer;
}.customerCenterItemsContainer li:hover{
     background-color: #101010;
 }
.customerCenterItemsContainer .cc_orderManagerment div {
    background-position: 0 50%;
    border-top: 0;
}
.customerCenterItemsContainer .cc_e-wallet div {
    background-position: -400px 50%;
}
.customerCenterItemsContainer .cc_statisticalReport div {
    background-position: -800px 50%;
}
.customerCenterItemsContainer .cc_customerService div {
    background-position: -1200px 50%;
}
.customerCenterItemsContainer .cc_notice div {
    background-position: -1600px 50%;
}
.customerCenterItemsContainer .cc_message div {
    background-position: -2000px 50%;
}
.customerCenterItemsContainer .cc_onlineService div {
    background-position: -2400px 50%;
    border-top: 1px dashed #2a2a2a;
    height: 73px;
    line-height: 73px;
    border-bottom: 1px solid #727272;
}
.customerCenterItemsContainer .cc_orderManagerment:hover div {
    background-position: -200px 50%;
}
.customerCenterItemsContainer .cc_e-wallet:hover div {
    background-position: -600px 50%;
}
.customerCenterItemsContainer .cc_statisticalReport:hover div {
    background-position: -1000px 50%;
}
.customerCenterItemsContainer .cc_customerService:hover div {
    background-position: -1400px 50%;
}
.customerCenterItemsContainer .cc_notice:hover div {
    background-position: -1800px 50%;
}
.customerCenterItemsContainer .cc_message:hover div {
    background-position: -2200px 50%;
}
.customerCenterItemsContainer .cc_onlineService:hover div {
    background-position: -2600px 50%;
}
.partnerContainer{
    color:#5F5F5F;
    font-size: 15px;
    width:980px;
    margin:20px auto;
}
.partnerContainer .partnerIcon {
    background-image: url("../../images/store/partnerIcon.png");
    height: 34px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
i.travelsky{
    background-position: -10px -186px;
    width: 53px;
}
i.elong{
    background-position: -10px -142px;
    width: 82px;
}
i.qunar{
    background-position: -10px -98px;
    width: 82px;
}
i.ctrip{
    background-position: -10px -54px;
    width: 82px;
}
i.gta{
    background-position: -10px -10px;
    width: 82px;
}
.annPrompt{
    width: 750px;
    font-size: 14px;
    height: 22px;
    padding-left: 28px;
    background: url("../../images/store/smallPicture.png") no-repeat 0 -75px;
    margin: 15px auto 8px auto;
    overflow: hidden;
    position: relative;
}
.annPrompt a{
    color: #ffffff;
    line-height: 22px;
    position: relative;
    display: block;
}
/* by shaotian.hu
 * querytab
 * */
.ac-floatlayer{
    z-index:1;
}
.querytab-content{
    float: left;
    display:block;
    background-color:#f4f4f4;
    color:#333;
}
.querytab{
	width:980px;
	margin:0 auto;
	position:relative;
	z-index: 1;
}
.querytab li{
    list-style: none;
}
.querytab ul{
    padding:0;
    margin:0;
}
.querytab-controller{
    position:absolute;
    left:0;
    width:100px;
    color:#ccc;
    background-color: #283559;
    height:100%;
}
.querytab-controller a,.querytab-controller a:hover{
	color:#ccc;
}
.querytab-controller ul{
    margin-top:25px;
}
.querytab-wrapper{
    box-shadow: 0 4px 4px -3px #666;
    top: -422px;
    position: absolute;
    padding-left:100px;
    font-family:'Microsoft Yahei';
    font-size:10px;
}
.querytab h4{
    font-size: 16px;
    margin: 20px 0 20px 0;
}
.querytab b{
    cursor:pointer;
}
.querytab .k-dropdown-wrap{
    border-color:#ccc;
}
.querytab-controller b{
    display:block;
    cursor:pointer;
    padding: 14px 0 15px 18px;
}
.querytab-controller b:hover{
	color:#fff;
}
.querytab-controller{
    font-size:1.6em;
}
.querytab-controller .current{
    color:#fff;
    background-color:#e03716;
}
.querytab-flight{
    padding: 30px 25px 25px 25px;
    font-size:1.4em;
}
.querytab-flight strong{
    font-weight: 500;
}
.querytab input[type=text]{
    width: 140px;
    background-color:#fff;
    border: 1px solid #ccc;
    height: 30px;
    font-size:14px;
    padding:0;
    text-indent:5px;
    font-family:arial 'Microsoft Yahei';
}
.querytab input[type=text]:focus{
    border-color:#7bcee8;
    color:#333;
    outline:none;
}

.querytab input[type=radio]{
    margin-right:3px;
}
.querytab .datepicker{
	width:144px;
}
.querytab .k-widget{
    border:none;
}
.querytab .sel_airlines{
    border:0 !important;
}
.querytab .k-select{
    border:none;
}
.querytab .k-input{
    height:25px;
    padding-top:3px;
}
.querytab .tel {
    background: url(../../images/store/i6.png) no-repeat 0 50%; 
    padding-left:24px;
    color:#ff6500;
}
.querytab .text1{
    color:#666;
    top: 3px;
    font-size:12px;
    position:absolute;
    right:0;
}
.advanced_search{
	margin-bottom:10px;
}
.advanced_search .col1{
    width: 260px;
}
.advanced_search .sail_type{
    margin-right:20px;
}
.round_trip .text{
    margin-right:10px;
}
.advanced_search td{
    padding-bottom:12px;
}
.btn-c1{
    background-color:#fc6c26;
    color:#fff;
}
.btn-s1{
    width:120px;
    height:36px;
    font-size:18px;
}

.row-add-line{
    background-color:#f8f8f8;
    border:1px dashed #c9c9c9;
    text-align:center;
    height:28px;
    line-height:28px;
    margin-right: 49px;
}
.row-add-line:hover{
    border-color:#23a8e8;
    background-color:#e5f5fd;
}
.muti_add{
    display: block;
    color:#1ba1e2;
}
.trip_type{
    margin-right: 36px;
    position:relative;
    margin-bottom: 6px;
}
.trip_type strong{
    margin-right:15px;
}
.trip_type label{
    margin-right:15px;
}
.icon-plus{
    margin-right:5px;
    width:13px;
    height:13px;
    background: url(../../images/store/querytab.png) -31px 0 no-repeat;
}
.querytab a{
    text-decoration:none;
}
.querytab .gap{
	padding-bottom: 9px;
}
.querytab .k-i-arrow-s{
    background: url(../../images/store/querytab.png) -48px 5px no-repeat;
}
.ac-remove-line{
    text-indent:200%;
    width:14px;
    height:14px;
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    background: url(../../images/store/querytab.png) 0 0 no-repeat;
}
.ac-remove-line:hover{
    background-position:-14px 0;
}
.btn_area{text-align:right;}
.index_num{
    font: bold 16px arial;
    color:#ee330e;
}
.muti_trip table{
    table-layout:fixed;
}
.muti_trip .col1{width: 25px;}
.muti_trip .col2{width: 75px;}
.muti_trip .col3{width:200px;}
.muti_trip .col4{width: 75px;}
.muti_trip .col5{width:200px;}
.muti_trip .col6{width: 75px;}
.muti_trip .col7{width:170px;}
.muti_trip .col8{width:20px;}
.muti_trip td,.single_trip td{
    padding-bottom:12px;
}
.single_trip .col1{width: 260px;}
.single_trip .col2{width: 215px;}
.single_trip table{
    table-layout:fixed;
}
.single_trip{
    position:relative;
}
.icon-arrows{
    position:absolute;
    width:9px;
    height:5px;
    background: url(../../images/store/querytab.png) -64px 0 no-repeat;
    left:50%;
    top: 28px;
    margin-left:-5px;
}
.underline-title span{
    padding-bottom: 5px;
    position:relative;
    border-bottom:2px solid #e03716;
    line-height: 22px;
}
.return_date.disabled{
    color:#999;
}
.return_date.disabled input{
    opacity:.6;
}

.xchange{
    top: 15px;
    left: 218px;
    color:#fff;
    text-indent: 10px;
    line-height: 45px;
    width:27px;
    height:47px;
    position:absolute;
    background:url(../../images/store/xchange_type.png) no-repeat;
}

/*pnr 导入*/


/* tips 验证样式 */
.message_ct {position:relative ;min-width:100px;background-color: #fdfef4;border: 1px solid #ffb596;padding:5px;}
.message_ct .arrow {background:url(../../images/store/messge_direct2.png) no-repeat 0 0;width:9px;height:9px;position:absolute;}
.message_ct .message_text {color:#636363;}
.message_ct .arrow_west {top:50%;left:-7px;margin-top:-4px;}
.message_ct .arrow_north {top:-5px;left:50%;margin-left:-4px;background-position:0 -20px;height:5px;}
.message_ct .arrow_east {top:50%;right:-7px;margin-top:-4px;background-position:0 -10px;}
.message_ct .arrow_south {bottom:-5px;left:50%;background-position:0 -26px;height:5px;}

.uploader-wrapper{
	display: none;
	width: 360px;
	z-index: 3;
	background-color: #f4f4f4;
	right:0;
	top:0;
	height:100%;
	position:absolute;
}
.uploader-inner{
    padding-top: 95px;
}
.querytab-pnr{
    padding: 30px 25px 25px 25px;
    font-size:1.4em;
}
.querytab-pnr input.input-pnr{
	border:1px solid #7bcee8;
	width:410px;
}
.passenger label{
	margin-right:10px;
}
.subline{
	padding-right: 5px;
	font-weight: 500;
}
.querytab-pnr .input-pnr.invalid{
    border-color:#ff4e00;
}
.way-console .invalid-text{
    padding: 0 5px;
    line-height: 30px;
    top: 1px;
    right: 1px;
    position: absolute;
    display:none;
    background-color:#feefe9;
    color:#ff4e00;
}
.pnr-notes{
	line-height: 22px;
	font-size: 12px;
	width: 312px;
	padding: 14px 0 0 40px;
	color:#949494;
}
.pnr-notes .text2{
	left: -20px;
	position: relative;
	color:#343434;
}
.upload-button {
    vertical-align: middle;
    display: inline-block;
    height: 28px;
    width: 55px;
    border:1px solid #b0dffd;
    background:#e0f3ff no-repeat;
}

.text3{
	color:#b16923;
	font-size:12px;
}
.black-paste{
	margin: 15px 0  0 26px;
	padding:10px 20px;
	width:410px;
	height:210px;
	resize:none;
	background-color:#141010;
	color:#6c6b6b;
	line-height:24px;
}
.black-paste:focus{
	color:lime;
}
.way-console{
	padding-bottom: 15px;
	border-bottom:1px dashed #ccc;
	position:relative;
}
.ways{
	position: relative;
	margin-top: 2px;
}
.ways .btn_area{
	position:absolute;
	left: 615px;
	bottom: 3px;
}
.pnr-notes li{
	list-style-type: decimal;
}
/** override style of swfuploader*/
.progressBarInProgressWrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}
.inProgress .progressBarInProgressWrapper{
    top: -1px;
    left: -1px;
    border: solid 1px #76cce8;
}

.progressWrapper {
	width: 170px;
	overflow: hidden;
    float:left;
    line-height:23px;
    padding-right:10px;
    padding-bottom:5px;
}

.progressContainer {
	height: 23px;
	position: relative;
	border: solid 1px #aaa;
	background-color: #fff;
	/* overflow: hidden; */
    color:#666;
}

.progressContainer:hover{
    border-color:#76cce8;
}
/* Message */
.black_booking .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.black_booking .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.black_booking .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.black_booking .blue {
	background-color: #fff;
}

.progressName {
	z-index: 1;
	font-size: 12px;
	width: 140px;
    
	position: relative;
	padding-left:5px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
    float:left;
}

.progressBarInProgress,
.progressBarComplete,
.progressBarError {
	font-size: 0;
	width: 0%;
	height: 100%;
}

.progressBarInProgress{
	background-color: #bcedfd;
}
.progressBarComplete {
	background-color: #bcedfd;
}

.progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.progressBarStatus {
    display:none;
	width: 60px;
    overflow:hidden;
	text-align: left;
	white-space: nowrap;
    float:left;
}

a.progressCancel {
	z-index: 1;
	position: relative;
	font-size: 0;
	display: block;
	height: 23px;
	width: 20px;
	background: url(../../images/store/querytab.png)  6px -13px no-repeat;
	float: right;
}
.progressContainer:hover .progressCancel{
	background-position: -8px -13px;
}



/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: middle;
}

.fl-upholder{
}
.fl-uploader{
    font-size: 12px;
    position:relative;
    color:#999;
}
.fl-uploader-error{
    margin-bottom: 10px;
    position:absolute;
    top:63px;
    left:0;
    display:none;
    background-color: #f4f4f4;
    font-weight:normal;
    width: 305px;
    color: #ff4e00;
}
.fl-uploader-wrap{
    display:none;
    position:absolute;
    left:-8px;
    top:22px;
    z-index: 2;
}
.fl-error{
    font-style: normal;
    cursor:pointer;
    padding:2px 5px;
    background: url(../../images/store/icon_warn2.png) 50% 50% no-repeat;
    position:relative;
}
.fl-error:hover .fl-uploader-wrap{
    display:block;
}
.fl-uploader-errfiles{
    width:225px;
    color:#333;
    line-height:20px;
}
.black_booking .message_ct .arrow_north{
    left:20px;
}



/*国内机票*/
.querytab-domestic .pnr-notes{
	margin-top:-50px;
}
.text3{
	color:#b16923;
}

/*酒店*/
.querytab-hotel-content{
	padding: 15px 40px 27px 30px;
}
.querytab-hotel-content .text1{
	top: 20px;
	right: 40px;
}
.querytab-hotel-content th{
	padding:7px 0;
	font-size:1.4em;
}
.querytab-hotel-content td{
	padding:7px 0;
}
.querytab-hotel-content h3{
	color: #636363;
	font-size:1.8em;
}
.querytab-hotel input[type=text]{
	width:150px;
}
.querytab-hotel .col1,.querytab-hotel .col3{
	width:75px
}
.querytab-hotel .col2{
	width:170px;
}
.querytab-hotel .col4{
}
.querytab-hotel .tel{
	font-size:14px;
}
.querytab-hotel-content ul{
	margin:20px 0 10px 0;
}


.querytab-hotel .querytab-controller b{
	padding-top:15px;
	padding-bottom:15px;
}



/* 日历样式 */
.datepicker {height:22px;background:url(../../images/store/i8.png) no-repeat 97% center #ffffff;} 
.datepicker.dpShort{background:none}
.ui-datepicker {background:#ef633d none;font-size:12px;padding:5px;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border:0;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}

.ui-datepicker-daywrapper{
    font-weight:normal;
    /*text-indent:-50px;*/
    display:inline-block;
    /*width:0px;*/
    *position:relative;
    *top:-4px;
    margin-left: -60px;
    width: 60px;
    text-align: left;
}
.ui-datepicker .ui-datepicker-buttonpane{
    margin:0;
}
.ui-datepicker-calendar thead{
    color:#999;
    background-color:#f1f1f1;
}
#ui-datepicker-div{
    box-shadow:0px 2px 10px #777;
}
#ui-datepicker-div .ui-datepicker-calendar{
    width:100%;
    margin:0 !important;
}
.ui-datepicker-calendar td{
    border:none;
}
.ui-datepicker-calendar td span{
    text-align:center;
    display:block;
    line-height:28px;
    height:28px;
    width:28px;
    margin:0 auto;
    padding:0;
}
.ui-datepicker-calendar td a{
    margin:0 auto;
    display:block;
    text-align:center;
    line-height:28px;
    height:28px;
    width:28px;
    padding:0;
}
.ui-datepicker-calendar-wrap{
    border-right:1px solid #d2d2d2;
    height:200px;
    background:url(../../images/store/month.jpg) no-repeat 50% 0;
}

.ui-datepicker-calendar-wrap-m0{
    background-position:50% 0px;
}
.ui-datepicker-calendar-wrap-m1{
    background-position:50% -200px;
}
.ui-datepicker-calendar-wrap-m2{
    background-position:50% -400px;
}
.ui-datepicker-calendar-wrap-m3{
    background-position:50% -600px;
}
.ui-datepicker-calendar-wrap-m4{
    background-position:50% -800px;
}
.ui-datepicker-calendar-wrap-m5{
    background-position:50% -1000px;
}
.ui-datepicker-calendar-wrap-m6{
    background-position:50% -1200px;
}
.ui-datepicker-calendar-wrap-m7{
    background-position:50% -1400px;
}
.ui-datepicker-calendar-wrap-m8{
    background-position:50% -1600px;
}
.ui-datepicker-calendar-wrap-m9{
    background-position:50% -1800px;
}
.ui-datepicker-calendar-wrap-m10{
    background-position:50% -2000px;
}
.ui-datepicker-calendar-wrap-m11{
    background-position:50% -2200px;
}

/* 日历头 */
.ui-widget-header {
    background: #ef633d;
    border:none;
    border-radius:0;
}

.ui-datepicker td {
    padding:0px;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width:40%;
}
/* 前后按钮 */
.ui-datepicker-week-end{
    color:#ff6500;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
    cursor:pointer;
    background:none;
    border:0;
    padding:0;
    opacity:1 !important;
    outline: 0;
}
.ui-widget-header .ui-icon{
    margin:0 auto;
    display:block;
    height:11px;
    width:6px;
    background: url(../../images/store/s1.png) no-repeat;
}
.ui-state-disabled.ui-datepicker-prev .ui-icon{
    background-position:0 0 !important;
}
.ui-state-disabled.ui-datepicker-next .ui-icon{
    background-position:-6px 0px !important;
}
.ui-datepicker-prev-hover .ui-icon{
    background-position:0 -11px;
    margin-left:-7px !important;
    margin-top:-7px !important;
}
.ui-datepicker-next .ui-icon{
    background-position:-6px 0;
}
.ui-datepicker-next-hover .ui-icon{
    background-position:-6px -11px;
    margin-left:-9px !important;
    margin-top:-7px !important;
}
.ui-datepicker-calendar-wrap {
    background-color:#fff;
    margin:0;
}
.ui-datepicker-calendar-wrap td {
    color:#5c5c5c;
    padding: 0px !important ;
}
.ui-datepicker-calendar-wrap .ui-datepicker-calendar,.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto;
    text-align:center;
    border-collapse: collapse ; 
    width:220px;
}
.ui-datepicker-title{
    color:#fff;
}
.ui-datepicker-multi .ui-datepicker-group-first .ui-datepicker-calendar {
    margin-right:10px !important;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-calendar {
    margin-left:10px !important; 
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
    border:none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    background-color:#f66e19;
    color:#ffffff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background:none;
    color:#ffffff;
}
.ui-datepicker-calendar .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: none; 
    font-weight: normal;
}
.ui-datepicker-calendar .ui-state-hover{
    height:26px;
    line-height:26px;
    width:26px;
    border:1px solid #ccc;
}
.ui-datepicker-calendar .ui-state-highlight{
    border:0;
}
.ui-datepicker-buttonpane{
    display:none;
}

.fastival {
    height:26px;
    width:28px;
    text-indent:-1000em;
    display:block;
    border:none;
    cursor:pointer;
    background-image:url(../../images/store/s2.png) !important;
    background-repeat:no-repeat;
}
.ui-state-hover .fastival{
    margin-top:-1px;
    margin-left:-1px;
    border:none;
}
.today { background-position : 50% 0px !important; }
.yuandan { background-position : 50% -30px !important;}
.chuxi { background-position : 50% -60px !important;}
.chunjie { background-position : 50% -90px !important;}
.yuanxiao { background-position : 50% -120px !important;}
.qingming { background-position : 50% -150px !important;}
.wuyi { background-position : 50% -180px !important;}
.duanwu { background-position : 50% -210px !important;}
.zhongqiu { background-position : 50% -240px !important;}
.guoqing { background-position : 50% -270px !important;}

.ui-state-highlight .today{
    background-color:#ff6500;
}

.ui-datepicker-time-wrap {
    position:relative;
    padding: 5px 0;
}

.ui-datepicker-time-i {
    width:120px;
    margin: 0px auto;
}

.ui-datepicker-time-i input[type=text] {
    text-align:center;
}

.ui-datepicker-time {
    border:1px solid #aaaaaa;
    background:#fff;
    position:absolute;
    width:220px;
}

.ui-datepicker-time-wrap td {text-align:center;}
.ui-datepicker-time-wrap td a {text-align:center;}
.ui-datepicker-time-wrap td a:hover {
    background-color:#f66e19;
    color:#ffffff;
}

/* 新首页机票
 * jenny.wang
 * */
.home_flight{
   width:980px; 
   margin:0 auto;
}
.main-body{ background:#e9e9e9; padding:0 0 20px;}
.firstModuleContent{ margin: 10px 0;}
.firstModuleContent .salePriceFlight{ float:left; margin-right:10px; padding:8px 0 8px 8px; width:708px; border:1px solid #d7d7d7; background:#fff; height:435px;}
.firstModuleContent .serviceCommitment{ float:left; width:250px; background:#f6f6f6; border:1px solid #d7d7d7; height:450px;}
.salePriceFlight .salePriceTitle{ margin:5px 8px 8px; font-size:14px; font-weight:bold;}
.salePriceTitle h3{ float:left; font-size:20px; font-weight:bold; color:#333333;}
.salePriceTitle .airWay{ float:left; color:#5b5b5b; margin-left:20px;}
.salePriceTitle .airWay li{ float:left; min-width:45px; padding:3px; text-align:center; margin:0 10px; cursor:pointer;}
.salePriceTitle .airWay li:hover{ color:#333333;}
.salePriceTitle .airWay .current{ background:#ef4423; color:#fff;}
.salePriceTitle .airWay .current:hover{ color:#fff;}
.salePriceTitle .more{ float:right; margin-right:10px; color:#5b5b5b; cursor:pointer; font-size:12px; line-height:25px;}
.salePriceTitle .more:hover{ color:#ef4423; text-decoration:none;}
.flightInfoList li{ float:left; width:127px; height:77px; padding:7px 4px; background:#efefef; margin:8px 6px 0 0; text-align:center;}
.flightInfoList li a:hover{ text-decoration:none;}
.flightInfoList li:hover{ background:#feecd9;}
.flightInfoList .place{ color:#4e4e4e; font-size:13px; font-weight:bold; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.flightInfoList .place .goBackPic{ display:inline-block; width:11px; height:7px; background:url(../../images/store/smallPic.png) no-repeat -61px -40px; vertical-align:middle;}
.flightInfoList .place .connector{ font-size:12px; font-weight:500; color:#999999;}
.flightInfoList .priceNumber{ color:#ef4423; font-size:20px; margin:7px 0; font-weight:bold;}
.flightInfoList .priceNumber em{ font-size:14px; font-family: 微软雅黑;}
.flightInfoList .noColor{ color:#666666;}
.flightInfoList .dateTime{ color:#c2c2c2;} 
.flightInfoList .dateTime .dateGoBackPic{ display:inline-block; width:11px; height:7px; background:url(../../images/store/smallPic.png) no-repeat -72px 0;}
.flightInfoList .soldOutLi{ position:relative; background:none;}
.flightInfoList .soldOutLi a{ cursor:default;}
.flightInfoList .soldOut{ position:absolute; top:0; left:0; width:100%; height:100%; background:#adb2c0; color:#fff; font-size:22px; line-height:85px; filter:alpha(opacity=88); opacity:0.88;}
.flightInfoList .soldOutLi:hover{ background:none;}
.flightInfoList .soldOut b{ filter:alpha(opacity=100); opacity:1;}
.serviceCommitment .serviceTitle{ color:#333333; font-weight:bold; font-size:20px; padding:10px 8px 0;}
.serviceCommitment .commitmentContent{ margin:10px 0 0 0; padding:0 0 10px 5px; border-bottom:1px dashed #cccccc;}
.serviceCommitment .commitmentContent li{ float:left; padding:8px 0 8px 3px; color:#333333; font-size:14px; font-weight:bold; width:78px; position:relative;}
.serviceCommitment .commitmentContent .fadinShallowOut{ position:absolute;height:75%; width:100%;top:0;left:0;background:#ffffff; filter:alpha(opacity=20); opacity:0; cursor:pointer;}
.serviceCommitment .commitmentContent figure a{ display:inline-block;}
.serviceCommitment .commitmentContent figure p{ margin-top:10px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.serviceCommitment .WeChat{ padding:10px 15px;}
.serviceCommitment .WeChat li{ float:left;}
.serviceCommitment .WeChat li:first-child{ margin-right:20px;}
.commonModule{ padding:8px; background:#fff; border:1px solid #d7d7d7; margin: 10px 0;}
.commonModule .showPic li{ float:left;}
.commonModule .showPic li:first-child{ margin-right:6px;}
.commonModule .showPic li a{ display:inline-block; position:relative;}
.commonModule .showPic li a:hover .bgShade{ width:100%; height:100%; background:#000; filter:alpha(opacity=20); opacity:0.2; display:inline-block; position:absolute; top:0; left:0;}
.commonModule .bottomPic{ margin-top:10px; width:582px;}
.commonModule .bottomPic a{ width:285px;}
.commonModule .bottomPic img{ width:285px; height:120px;}
.commonModule .bottomPic a:first-child{ margin-right:8px;}
.commonModule .rigtPic a{ width:373px;}
.commonModule .rigtPic a:first-child{ margin-bottom:10px;}
.logo_HO, .logo_ho {
	background:url(../../images/airline_logo.png) no-repeat 0 -310px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_GS, .logo_gs {
	background:url(../../images/airline_logo.png) no-repeat 0 -282px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_PN, .logo_pn {
	background:url(../../images/airline_logo.png) no-repeat 0 -478px;
	width:31px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_8L, .logo_8l {
	background:url(../../images/airline_logo.png) no-repeat 0 -56px;
	width:20px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CZ, .logo_cz {
	background:url(../../images/airline_logo.png) no-repeat 0 -168px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_MU, .logo_mu {
	background:url(../../images/airline_logo.png) no-repeat 0 -422px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_HU, .logo_hu {
	background:url(../../images/airline_logo.png) no-repeat 0 -338px;
	width:32px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_VD, .logo_vd {
	background:url(../../images/airline_logo.png) no-repeat 0 -562px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_3U, .logo_3u {
	background:url(../../images/airline_logo.png) no-repeat 0 0;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_9C, .logo_9c {
	background:url(../../images/airline_logo.png) no-repeat 0 -2889px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_SC, .logo_sc {
	background:url(../../images/airline_logo.png) no-repeat 0 -506px;
	width:28px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_BK, .logo_bk {
	background:url(../../images/airline_logo.png) no-repeat 0 -84px;
	width:26px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.logo_EU, .logo_eu {
	background:url(../../images/airline_logo.png) no-repeat 0 -197px;
	width:28px;
	height:29px;
	display:inline-block;
	vertical-align:middle;
}
.logo_CA, .logo_ca {
	background:url(../../images/airline_logo.png) no-repeat 0 -112px;
	width:25px;
	height:28px;
	display:inline-block;
	vertical-align:middle;
}
.aiRcompanyRecommend{ margin-bottom:8px;}
.aiRcompanyRecommend li{ float:left; margin:2px; background:#f2f2f2; min-width:119px; padding:7px; text-align:center;}
.commonModule .titleFont{ font-size:20px; font-weight:bold; color:#333333; margin:7px 0;}
.commonModule .aiRcompanyRecommend em{ color:#787878; margin-left:8px;}



/* 新首页酒店
 * yan.liu
 */
.hotelHomePageBG{
    background:url("../../images/store/homeStore/homeBanner01.jpg") center no-repeat #00092f;
    width:100%;
    height:470px;
}
.hotHotelBlock {
    width:100%;
    background:#e8e8e8;
    padding-bottom:28px;
}
.hotHotelContent, .hotCityBrandContent, .homePageBanner {
    width:980px;
    margin:0 auto;
}
.blockTopTitle {
    height:40px;
    color:#636363;
    padding:10px 0 5px 10px;
}
.blockTopTitle b {
    font-size:22px;
    font-weight:normal;
    float:left;
}
.blockTopTitle ul {
    float:right;
    padding:5px 0 0 0;
}
.blockTopTitle li {
    float:left;
    font-size:16px;
    padding:3px 15px;
    margin-left:5px;
	cursor:pointer;
}
.blockTopTitle a {
    color:#636363;
    text-decoration:none;
}
.blockTopTitle li:hover, .li_current {
    background-color:#576b8f;
    color:#fff;
}
.blockTopTitle li:hover a, .li_current a {
    color:#fff;
}
.hotHotel_show {
}
.hotHotel_show dl {
    float:left;
    margin-right:8px;
    width:239px;
}
.hotHotel_show dd {
    background:#fff;
    padding:10px 15px 5px 15px;
    border-bottom:2px solid #c7c6c6;
}
.hotHotel_show dd a {
    font-size:14px;
    color:#636363;
    text-decoration:none;
    float:left;
	width:84px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hotHotel_show dd a:hover {
    color:#636363;
    text-decoration:none;
}
.hotHotel_show .hotelStar {
    float:right;
    background:url(../../images/store/homeStore/homeHotelStar.png) no-repeat 0 -12px;
    width:69px;
    height:12px;
    display:inline-block;
    position:relative;
    margin-top:4px;
}
.hotHotel_show .star01, .hotHotel_show .star02, .hotHotel_show .star03, .hotHotel_show .star04, .hotHotel_show .star05 {
    background:url(../../images/store/homeStore/homeHotelStar.png) no-repeat 0 0;
    width:13px;
    height:12px;
    display:inline-block;
    vertical-align:middle;
    position:absolute;
    top:0px;
    left:0px;
}
.hotHotel_show .star02 {
    width:27px;
}
.hotHotel_show .star03 {
    width:41px;
}
.hotHotel_show .star04 {
    width:55px;
}
.hotHotel_show .star05 {
    width:69px;
}
.hotHotel_show .price {
    color:#ef4423;
    font-size:24px;
    text-align:right;
}
.hotHotel_show .price em {
    font-size:18px;
    font-style:normal;
}
.hotCityBrand {
    width:100%;
}
/*hotcity*/
.hotCityContent {
    float:left;
}
.hotCityContent li {
    float:left;
    margin-right:8px;
    position:relative;
}
.hotCityImgHover {
    cursor:pointer;
}
.hotCityImgHover span {
    display:none;
}
.hotCityImgHover .searchIcon {
    background:url(../../images/store/homeStore/icon_hoverSearch.png) no-repeat center center;
    width:40px;
    height:41px;
    position:absolute;
    top:42%;
    left:43%;
}
.hotCityContent li a:hover .hotCityImgHover {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background:#ea554a;
    filter:alpha(opacity=80);
    opacity:0.8;
}
.hotCityContent a:hover span {
    display:inline-block;
}
.hotelBrandContent {
    float:right;
    width:320px;
}
.hotelBrandContent ul {

}
.hotelBrandContent li {
    float:left;
    width:105px;
    background:#d8d8d8;
    margin:0 0 1px 1px;
    text-align:center;
    height:60px;
    vertical-align:middle;
    display:table;
}
.hotelBrandContent li a {
    display:table-cell;
    vertical-align:middle;
	cursor:default;
}
.hotelBrandContent li:hover {
    background:#e53a3d;
}
.hotelBrandContent li.liLeft {
    margin-left:0;
}
.homePageBanner {
    margin-bottom:20px;
    margin-top:8px;
    text-align:center;
}

