<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sc="http://www.springframework.org/schema/security" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop					http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/tx						http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context				http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/security				http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/task					http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<!-- init annotated beans -->
	<context:component-scan base-package="com.icloud.front.common.security" />
	<sc:http pattern="/index.jsp" security="none" />
	<sc:http pattern="/resources/**" security="none" />
	<!-- <sc:custom-filter ref="redisSessionFilter" before="FIRST"/> -->

	<sc:http entry-point-ref="loginEntryPoint">
		<sc:logout logout-url="/signOut" success-handler-ref="icloudLogoutSuccessHandler" />
		<sc:request-cache ref="nullRequestCache" />
		<sc:remember-me key="icloudmembertoken" services-ref="icloudRememberMeService" />
		<sc:custom-filter ref="loginStatusFilter" after="ANONYMOUS_FILTER" />
	</sc:http>

	<sc:authentication-manager alias="icloudAuthenticationManager">
		<sc:authentication-provider ref="icloudAuthenticationProvider" />
	</sc:authentication-manager>

	<bean id="icloudAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider"
		p:passwordEncoder-ref="icloudPasswordEncoder"
		p:userDetailsService-ref="icloudUserDetailsService"
		p:postAuthenticationChecks-ref="icloudPostAnthentication"
		p:hideUserNotFoundExceptions="false">
	</bean>

	<bean id="nullRequestCache"
		class="org.springframework.security.web.savedrequest.NullRequestCache" />

	<bean id="icloudLogoutSuccessHandler"
		class="com.icloud.front.common.security.handler.ICloudLogoutSuccessHandler"></bean>

	<bean id="icloudRememberMeService"
		class="com.icloud.front.common.security.service.ICloudRememberMeService">
		<constructor-arg ref="icloudUserDetailsService"></constructor-arg>
		<property name="parameter" value="tops_remember_me" />
	</bean>

	<bean id="icloudUserDetailsService"
		class="com.icloud.front.common.security.service.ICloudUserDetailsService" />

	<bean id="loginStatusFilter"
		class="com.icloud.front.common.security.filter.LoginStatusFilter"
		p:loginUrl="/facade/signin" />

	<bean id="loginEntryPoint"
		class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint"
		p:loginFormUrl="/facade/signin" />

</beans>
